body {
    // padding-top: 60px;

    background: #f7faf7;
}
.layout--overlapping {
    padding-top: 0px;
}

hr {
    border-top: 2px solid rgba(0, 0, 0, 0.10);
}

blockquote {
    padding: 10px 20px;
    border-left: none;

    font-weight: 500;
    color: #4f7f8c;
}
